/*
Được sử dụng với các bộ tiền sử lí và chứa font, định nghĩa các color, …
*/

/*color text*/
$c-main: #60cdef;
$c-main-rgba: rgba(96, 205, 239, 0.3);
/*background color*/
$bg-body: #f5f8fd;
$bg-table-hover: #eae8e8;

/*transition*/
$transition: all 0.3s ease-in-out;

/* .table */
// $table-wrapped-header: 200px;
// $table-cell-padding: 6px;
// $color-table: rgba(96,205,239);
// $color-table-body: rgba(96, 205, 239, 0.5);